body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding-top: 50px;
    background-color: aqua;

}

/* .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
} */

header{
    background-color: #F5DAD2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}
header.visible {
    transform: translateY(0);
}
@media (max-width: 768px) {
    header {
        transform: translateY(calc(-100% + 40px)); /* Show a part of the hamburger menu */
    }

    header.visible {
        transform: translateY(0);
    }
}

#homeBtn{
    border: black 1px solid;
}

.navbar-nav{
    font-size: 1.25rem;
    color: #75A47F;
    cursor: pointer;
    text-decoration: none;
}

/* ALL SECTIONS */
#cover, #about, #resume, #portfolio, #contact {
    padding: 20px 20px;
    background-color: violet;
}
/* COVER SECTION */
.two-cols-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.maridanne img {
    width: 300px;
    height: auto;

    display: block;
    margin: 0 auto;  
    border-radius: 50px;
}
.maridanne, .description{
    flex: 1;
    min-width: 300px;
    background-color: green;

}

.maridanne{
    text-align: center;
}

.social-links {
    margin-top: 20px;

}

.social-links a {
    text-decoration: none;
    color: black; /* Facebook's brand color */
    margin: 0 10px;
    font-size: 24px;
}

.social-links a:hover {
    color: #2d4373; /* Darker shade on hover */
}

/* ABOUT SECTION */
.about-desc, .tech-interest {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: yellow;
    
}
.short-desc, .long-desc{
    flex: 1;
    min-width: 300px;
    background-color: crimson;
}
.short-desc,  .technologies-stack{
    font-size: 1.25rem;
}

.technologies-stack, .other-interests {
    flex: 1;
    min-width: 300px;
    background-color: deeppink;
}

.d-flex{
    background-color: aquamarine;
    margin: 30px;
    border-radius: 50px;
    padding: 35px;

}

/* Responsive Design */
@media (max-width: 768px) {
    .about-desc, .tech-interest {
        flex-direction: column;
    }
}

/* RESUME SECTION */
.res-row-1, .res-row-2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: yellow;
}

.education, .work-experience{
    flex: 1;
    min-width: 300px;
    background-color: crimson;
}
.skills, .achievements{
    flex: 1;
    min-width: 300px;
    background-color: deeppink;
}
.resume-container h4{
    text-align: center;
}
.resume-content{
    background-color: skyblue;
    margin: 30px;
    border-radius: 50px;
    padding: 35px;
}

/* PORTFOLIO SECTION */

.portfolio-container img{
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;  
    border-radius: 50px;
}
li{
    list-style: none;
}
.proj-1, .proj-2{
    background-color: olive;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portfolio-container .d-flex{
    max-width: 900px;
    height: auto;
    border: solid 1px #ddd; 
    border-radius: 3px;
}
.portfolio-container .p-2{
    border: solid 1px #ddd; 
    border-radius: 5px;
    margin: 10px 20px;
    font-size: .7em;
    display: block;

}

/* CONTACT SECTION */
.contact-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.map, .contact-info{
    flex: 1;
    min-width: 300px;
    background-color: green;
    flex-direction: column;
}
iframe {
    border-radius: 50px;
    max-width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;  
    border-radius: 20px;
}
.contact-info h4{
    margin-top: 40px;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background-color: DarkSalmon;
    color: white;
}